<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h4>{{post.title}}</h4>
    </div>
    <div class="col-md-6 text-right">
      <h5>{{post.created_at | date:'short'}}</h5>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <p>{{post.content}}</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <button type="button" class="btn btn-success" (click)="onLike()">Love it!</button>
      <button type="button" class="btn btn-danger" (click)="onDislike()">Don't love it!</button>
    </div>
  </div>
</div>
